.btn {
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-size: var(--fs);
}

.btn-ikea{
  font-size: var(--fs);

  height: 2.5rem;
  padding: 0 1.5rem;
  margin-right: .5rem;
  margin-left: 0;

  border: 1px solid transparent;
  border-radius: 50em;
  font-weight: 700;

  input {
    display: none;
  }
  label {
    cursor: pointer;
   
  }

  :checked + label {
    border-color: var(--ikeaGreyTextAndIcon) ;
  }
  :checked + label:hover {
    background:var(--ikeaGreyHover)
  }
  
}
.btn-grey{
  font-size: var(--fs);

  border: 1px solid transparent;
  background: var(--ikeaGreyLight);
  color:var(--ikeaGreyTextAndIcon) ;
  :hover{
    background:var(--ikeaGreyHover) ;
  }
}
-linear{
  color: #111111;
 
  height: 34px;
  width:34px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    width: 18px;
    height: 18px;
    
  }
  &:hover{
    background: #F5F5F5;
    transition: ease .2s;
  }

}

.item-acquired{

  .btn-linear:hover {
    background: var(--ikeaGreyHover);
  }

} 
  



.btn-submit {
  background: rgb(20, 53, 126);
  border: 2px rgb(20, 53, 126) solid;
  color: white;

  border-radius: 30px;
  font-weight: 800;
}
.btn-submit:hover {
  transform: scale(0.95);
  transition: ease 0.3s;
}



.checkbox {
  transform: scale(1.7);
}

.btn-drawer {
  color: rgb(109, 108, 108);
}

.btn-linear{
  color: #111111;
 
  height: 34px;
  width:34px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
    width: 18px;
    height: 18px;
    //margin: 0 4px;
  }

  
  &:hover{
    background: #F5F5F5;
    transition: ease .2s;
  }

}

.slider {
  input {
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 25px;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    outline: none;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 5px 1px rgb(216, 216, 216);
  }

  input:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;

    border-radius: 50px;
    transition: all 0.3s;
    background-color: rgb(73, 82, 163);
  }

  input:checked {
    background: rgb(73, 82, 163);
    transition: background-image 0.3s;
  }

  input:checked:before {
    transform: translate(100%);
    transition: all 0.3s;
    background-color: #dfdfdf;
  }
}

header {
  .slider {
    input {
    --size:15px;

      cursor: pointer;

      position: relative;
      width: calc(2 * var(--size));
      height: var(--size);
      background-color: var(--ikeaBlueHover);
      background-size: cover;
      border-radius: 50px;
      outline: none;
      transition: background-image 0.3s;
      box-shadow: 0px 2px 5px 1px rgb(216, 216, 216);
    }

    input:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: var(--size);
      width: var(--size);

      border-radius: 50px;
      transition: all 0.3s;
      background-color: #eec230;
    }

    input:checked {
      background-color: #eec230;
      background-size: cover;
      transition: background-color 0.3s;
    }

    input:checked:before {
      transform: translate(100%);
      transition: all 0.3s;
      background-color: var(--ikeaBlueHover);
    }
  }
}

.btn-sort {
  --colorMain: var(--ikeaGreyLight);
  --colorContrast: var(--ikeaGreyTextAndIcon);
  --colorHover: var(--ikeaGreyHover);
  --padding:0 1.5rem;
  
  
  background-color: var(--colorMain);

  height: 2rem;
  border-radius: 50em;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: var(--fs);

  margin-left: .8em;
  
  &:hover {
    background-color: var(--colorHover);

  }
 
  input {
    display: none;
  }
  label {
    border: 1px solid transparent;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50em;
    
    padding: var(--padding);
  }

  :checked + label {
   
    border: 1px solid  var(--colorContrast);
  }
  :checked + label:hover {
    background-color: var(--colorHover);
  }
}


