footer {
  background: var(--ikeaGreyLight);
  color: var(--ikeaGreyHover);

  font-size: 12px;
  @media only screen and (max-device-width: 414px) {
    font-size: 14px;
  }

  
  width: 100%;
  
 

  .wrapper {
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    align-content: center;
    justify-content: center;
    align-items: center;

    p strong {
      cursor: pointer;
      margin-top: 2px;
      padding: 1px 10px;
      border-radius: 50px;
      
      background:  var(--ikeaGreyTextAndIcon);
      color: var(--ikeaGreyHover);
    }
    p strong:hover {
      background: grey;
      color: var(--ikeaGreyLight);
    }

    ol {
      overflow: hidden;
      list-style: none;
      display: flex;
      flex-direction: row;

      justify-content: space-around;

      li {
        //margin: 0 12px;
       
      }
    }

    img {
      width: auto;
    }
    .icon {
      transform: scale(0.7);
      @media only screen and (max-device-width: 414px) {
        transform: scale(1);
        
      }
    }
    .icon:hover {
      color: rgb(0, 0, 0);
    }
    p {
      padding-left: 20px;
      color: var(--ikeaGreyTextAndIcon);
    }
  }
}
