footer {
  background:$ikeaGreyLight;
  color: $ikeaGreyHover;

 


  font-size: $fFooterLaptop;
  @media only screen and (max-device-width: $mobileBreakpoint) {
    font-size: $fFooterMobile;
  }

  width: 100%;
  
  .wrapper {
    padding: 0 $padding;
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    align-content: center;
    justify-content: center;
    align-items: center;

    p strong {
      cursor: pointer;
      margin-top: 2px;
      padding: 1px 10px;
      border-radius: 50px;
      
      background:  $ikeaGreyTextAndIcon;
      color: $ikeaGreyHover;
    }
    p strong:hover {
      background: grey;
      color: $ikeaGreyLight;
    }

    ol {
      overflow: hidden;
      list-style: none;
      display: flex;
      flex-direction: row;

      justify-content: space-around;
    }

    img {
      width: auto;
    }
    .icon {
      transform: scale(0.7);
      @media only screen and (max-device-width: $mobileBreakpoint) {
        transform: scale(1);
      }
    }
    .icon:hover {
      color: black;
    }
    p {
      
      color: $ikeaGreyTextAndIcon;
    }
  }
}
