footer{
 
    background: rgb(235, 232, 232); 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    a{
        padding: 2px 8px;
    }
    a:hover{
        background: rgb(0, 0, 0);
        border-radius: 15px;
       
        color: white;
    }
    
ol{
    list-style: none;
     display: flex;
    flex-direction: row;

    li{
        margin: 0 12px;
    }
}

    img{
        width: auto;
    }
    .icon{
        color: rgb(236, 236, 236);
    }
    .icon:hover{
        color: white;
    }
    p{
        padding-left: 20px;
    }
}