

header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:30px;
    padding: 10px;

    img{
        height: 30px;
        width: auto;
    }
}
