.data {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  .wrapper {
    width: 100%;
    padding-left: 25%;

    @media only screen and (max-device-width: $mobileBreakpoint) {
      padding-left: 5px;
    }
    display: flex;
    align-items: center;
    overflow: hidden;

    .notif {
      --size: 15px;
      @media only screen and (max-device-width: $mobileBreakpoint) {
        padding: 10px;
      }

      z-index: 2;

      margin-right: 3px;
      padding: 8px;

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 900px;

      width: var(--size);
      height: var(--size);
      border-radius: var(--size);
      color: white;

      box-shadow: 2px 2px 4px rgba(119, 113, 113, 0.185);

      background: $ikeaBlue;
    }

    p {
      
      height: fit-content;
      text-align: left;
      

      @media only screen and (max-device-width: $mobileBreakpoint) {
     
        max-width: 100px;
        font-size: 0.9rem;
        margin: 0;
      }
      @media only screen and (max-device-width: $mobileBreakpointXS) {
        max-width: 80px;

      
      }
      @media only screen and (max-device-width: 330px) {
        overflow: hidden;

        max-width: 48px; 
        max-height: 40px;

      
      }
    }
  }
}
