.item {
  --lightgrey: rgb(245, 245, 245);

  width: 90vw;
  max-width: 600px;

  display: grid;
  grid-template-columns: 8px 1fr 60px;
  align-items: center;
  justify-items: center;

  font-size: 12px;

  margin: 0;
 
  border-top: 1px solid #dfdfdf;

  .item-data {
    background: white;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 90px 1fr 70px 60px;
    align-items: center;
    justify-items: center;

    .data-price {
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      width: 100%;
      height: 100%;
      strong {
        font-weight: 300;
      }
    }
    
  }

  .box-product {
    //background: red;
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0px;

    .btn-edit {
      color: #6d6c6c;
      transform: scale(1.2);
    }
    .btn-edit:hover {
      transform: scale(1.4);
      transition: ease 0.3s;
    }
    .wrapper {
      
      padding: 5px;
    }
    .img-product {
      position: absolute;

      height: 45px;
      width: 45px;
      object-fit: cover;

      border-radius: 30px;
      background: rgb(255, 255, 255);
    }

    .img-overlay {
      z-index: 2;
      position: relative;

      top: 0px;
      left: 0px;

      background-color: var(--ikeaGreyHover);
      color: white;
      height: 45px;
      width: 45px;
    

      border: none;
      border-radius: 30px;
      font-size: 35px;

      opacity: 0;

      display: grid;
      justify-content: center;
      align-content: center;
      svg {
        transform: scale(1.4);
      }
    }

    .img-overlay:hover {
      opacity: 1;
      transition: ease 0.3s;
    }
  }

  .drawer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    width: 100%;
    height: 70%;

    border-left: 1px solid var(--lightgrey);
    margin-left: 0px;

    .content {
      width: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .lisere {
    background-color: none;
    height: 75%;
    width: 8px;
  }
  .exp {
    .checkbox {
      transform: scale(1);
    }
    //
  }
}

.item-open {
  grid-template-columns: 8px 1fr 120px;

  .item-data {
    grid-template-columns: 90px 1fr 70px;
  }

  .exp {
    display: none;
  }
}

.item:hover {
  .lisere {
    background-color: #dfdfdf;
  }
}
@media only screen and (max-device-width: 414px) {
  .item {
    width: 95vw;
  }
}

.item-acquired {
  //background: #f7f7f7;

  .drawer {
    border-color: transparent;
  }
  .item-data {
    background: none;
    
    transition: ease 0.3s;

    .data-price strong {
      font-weight: bold;
    }
  }
}
