.item {
  width: 90vw;

  background: rgb(247, 246, 246);

  box-shadow: 2px 2px 4px rgb(245, 245, 245);
  display: grid;
  grid-template-columns: 8px 1fr 60px;
  align-items: center;
  justify-items: center;

  margin: 6px 0;
  padding: 0px 0px;
  border-radius: 8px;

  .item-data {
    background: rgb(234, 238, 247);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 90px 1fr 60px 90px;
    align-items: center;
    justify-items: center;
  }
  .item-data-acquired {
    background: rgb(209, 235, 252);
    /* border-radius: 5px;
    transform:translateX(-8px); */
    transition: ease .3s;


  }

  
  .img-product{
    position: absolute;
    
    margin-top: 3px;

    height: 50px;
    width: 50px;
    object-fit:cover;

    border-radius: 30px;
    background: rgb(255, 255, 255);
    padding: 1px;
    border: 1px solid rgb(214, 214, 214);
  }

  .img-overlay {
    z-index: 2;
    position: relative;
    top: 0px;
    left: -2px;
    background-color: #14357e;
    color: white;
    height: 56px;
    width: 56px;
    border-radius: 30px;
    font-size: 35px;

    opacity: 0;
  }
  .img-overlay:hover {
    opacity: 1;
    transition: ease 0.3s;
  }

  .drawer {
    display: flex;
    flex-direction: row-reverse;
      

    .content {
   

        width: 80px;  

      display: flex;
      flex-direction: row;
      align-items: center;
      

    }
  }

  .lisere {
    background-color: none;
    height: 100%;
    width: 8px;
    border-radius: 5px 0 0 5px;
  }
}

.item-open {
  grid-template-columns: 8px 1fr 150px;

  .item-data {
    grid-template-columns: 90px 1fr 60px;
  }

  .exp {
    display: none;
  }
}

.item:hover {
  .lisere {
    background-color: rgb(20, 53, 126);
  }
}
