$wd-lisere: 4px;
$wd-picture: 50px;
$wd-price: 70px;
$wd-check: 60px;
$wd-menu: 60px;
$wd-drawer: $wd-check + $wd-menu;
$wd-drawer-mobile: $wd-drawer + $wd-price;

//list header and list footer
$legendColumns: $wd-lisere $wd-picture 1fr $wd-price $wd-check $wd-menu;

///drawer close
$itemColumns: $wd-lisere 1fr $wd-menu;
$itemDataColumns: $wd-picture 1fr $wd-price $wd-check;

///drawer open
//laptop
$itemOpenColumnsLaptop: $wd-lisere 1fr $wd-drawer;
$itemDataOpenColumnsLaptop: $wd-picture 1fr $wd-price;

//mobile
$itemOpenColumnsMobile: $wd-lisere 1fr $wd-drawer-mobile;
$itemDataOpenColumnsMobile: $wd-picture 1fr;

/// STRUCTURE
.item {
  display: grid;
  grid-template-columns: $itemColumns;

  .item-data {
    display: grid;
    grid-template-columns: $itemDataColumns;
  }
}
.item-open {
  grid-template-columns: $itemOpenColumnsLaptop;

  @media only screen and (max-device-width: $mobileBreakpoint) {
    grid-template-columns: $itemOpenColumnsMobile;
  }

  .item-data {
    grid-template-columns: $itemDataOpenColumnsLaptop;

    @media only screen and (max-device-width: $mobileBreakpoint) {
      grid-template-columns: $itemDataOpenColumnsMobile;
    }
  }
}

/// STYLE

.item {
  width: 100%;
  height: 60px;

  align-items: center;
  justify-items: center;
  font-size: var(--fs);
  margin: 0;

  border-top: 1px solid #dfdfdf;

  .item-data {
    width: 100%;
    height: 100%;

    align-items: center;
    justify-items: center;

    .data-price {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      strong {
        padding-left: 20px;
        width: 100%;
        text-align: left;
        font-weight: $fRegular;
      }
    }
  }

  .box-product {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .btn-edit {
      color: #6d6c6c;
      transform: scale(1.2);
    }

    .img-container {
      position: absolute;

      .img-product {
        border: 1px solid $ikeaGreyHover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 45px;
        height: 45px;

        object-fit: cover;
        object-position: center;
      }
    }

    .img-overlay {
      z-index: 2;
      position: relative;

      top: 0px;
      left: 0px;

      background-color: $ikeaGreyHover;
      color: white;
      height: 45px;
      width: 45px;

      border: none;
      border-radius: 30px;
      font-size: 35px;

      opacity: 0;

      display: grid;
      justify-content: center;
      align-content: center;
      svg {
        transform: scale(1.4);
      }
    }

    .img-overlay:hover {
      opacity: 1;
      transition: ease 0.3s;
    }
  }

  .drawer {
    display: flex;
    flex-direction: row-reverse;

    align-items: center;

    justify-content: flex-start;
    padding-right: 14px;

    width: 100%;
    height: 100%;

    border-left: 1px solid $ikeaGreyLight;

    .content {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      margin: 0;

      @media only screen and (max-device-width: $mobileBreakpoint) {
        margin-right: 18px;
        button {
          margin-left: 18px;
        }
      }
    }
  }

  .lisere {
    background-color: none;
    height: 60px;
    margin-top: 0px;
    width: $wd-lisere;
    
  }
  .exp {
    .checkbox {
      transform: scale(1);
      @media only screen and (max-device-width: $mobileBreakpoint) {
        transform: scale(1.5);
      }
    }
  }
}

.item-open {
  .item-data {
    .data-price {
      @media only screen and (max-device-width: $mobileBreakpoint) {
        display: none;
      }
    }
  }

  .exp {
    display: none;
  }
}

.item:hover {
  .lisere {
    background-color: #dfdfdf;
  }
}

.item-acquired {
  .item-data {
    @media only screen and (max-device-width: $mobileBreakpoint) {
    }

    .data-price strong {
      font-weight: bold;
      @media only screen and (max-device-width: $mobileBreakpoint) {
      }
    }
  }

  .drawer {
    @media only screen and (max-device-width: $mobileBreakpoint) {
    }
  }
}
