.data {

   
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .wrapper{
        
        padding-left: 25%;
        display: flex;

        .notif{

            --size : 15px;

            z-index: 2;


            position: relative;
            top:-7px;
            left:-12px; 
    
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 8px;
            font-weight: 900px;
    
            width:var(--size);
            height:var(--size);
            border-radius: var(--size);
            color: white;

            box-shadow: 2px 2px 4px rgba(119, 113, 113, 0.185);
    
           
            
          
    
            background: var(--ikeaBlue);
        }
    
        p {
        position: absolute;
          text-align: left;
          word-wrap: break-word;
          
        }
        @media only screen and (max-device-width: 414px) {
          p {
            /* background: blue; */
            max-width: 65px;
            font-size: 0.7rem;
            padding: 5px;
            margin: 0;
          }
        }
    

    }

   
   
  }


   
