/* STRUCTURE */
.legend{
  display: grid;
  grid-template-columns: $legendColumns
}


/* STYLE */
.legend {
  height: fit-content;
 

  @media only screen and (max-device-width: $mobileBreakpoint){
   display:none;
    }
  align-content: center;
  justify-content: center;

  font-weight: 700;
  font-size: var(--fs);

  margin-bottom: 15px;
  margin-top: 20px;

  p {
    text-align: center;
  }
  :nth-child(2){
   text-align: left;
  margin-left: -$wd-lisere;
  }
  :nth-child(3){
   
    text-align: left;
    padding-left: 25%;
  }
}
