@use 'item';

/* STRUCTURE */
.total {
  display: grid;
  grid-template-columns: $legendColumns;
}

/* STYLE */
.total {
  font-size: var(---fs);
  padding-top: 10px;
  border-top: 2px solid black;

  font-weight: bold;
  

  h3{
    text-align: left;
    margin-left: -$wd-lisere;
  }

  :nth-child(4) {
    padding-left: 20px;
    font-size: calc(var(--fs) + 2px);
  }

  :nth-child(3) {
    text-align: left;
    padding-left: 25%;
  }

  .total-not-owned {
    font-weight: $fRegular;
  }
}

@media only screen and (max-device-width: $mobileBreakpoint) {
  .total {
    :nth-child(3) {
      padding-left: 24px;
    }
    .total-label {
      width: 100%;
      font-size: var(--fs);
      font-weight: 300;

      .total-owned {
        background: $ikeaGreyLight;
        width: 100%;
      }
    }
  }
}
