//STRUCTURE

.legend{
  display: grid;
  grid-template-columns: 8px var(--imageBox) 1fr var(--priceBox) var(--checkBox) var(--menuBox);
}


//STYLE

.legend {
  height: fit-content;
  
  display: grid;
  @media only screen and (max-device-width: 414px){
   display:none;
    }
  

  align-content: center;
  justify-content: center;

  font-weight: 700;
  font-size: var(---fs);

  margin-bottom: 15px;
  margin-top: 20px;

  p {
    text-align: center;
  }
  :nth-child(3){
   
    text-align: left;
    padding-left: 25%;
  }
}
