.modal {
 
  font-size: var(--fs);
  

  form {
    input[type="text"] {
      height: 36px;
      background: var(--ikeaGreyLight);
      border-radius: 50px;
      padding-left: 20px;
      margin: 3px 0;

      width: calc(100% - 100px - 4px);
    }
    input[type="text"]:first-child {
      margin-right: 3px;
    }

    #price {
      width: 100px;
    }
  }
  
}
@media only screen and (max-device-width: 414px) {
  .modal {
   
    width: 100%;

    form {
      input[type="text"] {
        width: 100%;
        margin-bottom: 7px;

      }

      #price {
        width: 50%;
      }
    }
  }
}
