.body{

    overflow-x: hidden;
}
.App-nostalgic{
    background-color: rgb(240, 231, 219);
    background-image: url(https://clecardona.com/summer_camp/eika/paper.jpeg);
    background-blend-mode: hard-light;
    
    .item {
background: white;
box-shadow: none;
border:2px solid rgb(48, 48, 48);
border-radius: 0px;
font-family: 'Courier New', Courier, monospace;

 .item-data {
    background: none;
    
  }

  img {

    border-radius: none;
   
  }
  .img-overlay {
    display: none;
  }
  .img-overlay:hover {
    display: none;
 
  }

  

    }

    .item:hover{
      background: rgb(236, 236, 236);
    }


.btn-oval{
  border-radius: 0px ;
}
.btn-submit{
  background:rgb(0, 0, 0) ;
}

}


