.App-nostalgic {
  background-color: #ececec;
  background-image: url(https://clecardona.com/summer_camp/eika/paper.jpeg);
  background-blend-mode: hard-light;

  .title {
    text-align: center;
   
    font-family: "Indie Flower", cursive;
    display: flex;
    flex-direction: column;

    &:before {
      
      z-index: 1000;
      content: url(https://clecardona.com/summer_camp/eika/eika_lama.png);
      transform: rotate(-5deg);
      width: 100%;
    }
  }

  .emptylist {
    .description {
      background: none;
    }
  }

  .img-main {
    display: none;
  }

  .btn-oval {
    border-radius: 0px;
  }
  .btn-submit {
    background: rgb(0, 0, 0);
  }
  .btn-clear {
    --color: grey;
    color: var(--color);
    border-color: var(--color);
  }

  .shopping_list {
    width: 100%;
    margin: auto;

    .filter-sort {
      width: 95%;

      border-bottom: 2px solid black;
      margin-bottom: 15px;

      @media only screen and (max-device-width: $mobileBreakpoint) {
        width: 100%;
        border: none;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        margin-bottom: -2px;
        .list-container.legend {
          display: grid;
        }
      }
    }

    .legend {
      //background: red;
      margin-bottom: 0px;

      @media only screen and (max-device-width: $mobileBreakpoint) {
        border-bottom: none;
      }

      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      p {
        display: grid;
        align-content: center;
        //background-color: red;
        height: 50px;
        border-left: 2px solid black;
      }
      p:nth-child(2) {
        border-left: none;
      }
    }

    .hr {
      display: none;
    }
  }

  .item {
    background: none;
    box-shadow: none;
    border-top: 2px solid black;

    border-radius: 0px;
    font-family: $fontHandWritten;

    border-left: none;
    border-right: none;

    .item-data {
      background: none;

      .box-product {
        height: 100%;
        padding: 5px;
        margin: 0;

        .wrapper {
          display: grid;
          justify-items: center;
          justify-content: center;
          align-content: center;
          align-items: center;

          .img-product {
            padding: 0;
          }

          .img-overlay {
            background: black;
          }
        }
      }

      .data {
        display: flex;
        font-size: 1rem;
        align-content: center;
        align-items: center;

        height: 100%;
        width: 100%;
        border-left: 2px solid black;

        .data-qty {
          height: 30px;
          justify-content: flex-start;
          min-width: none;
          background: none;
          box-shadow: none;
        }

        strong {
          @media only screen and (max-device-width: $mobileBreakpoint) {
            font-size: 1.2rem;
          }

          color: black;
        }
      }

      .data-price,
      .data-price strong {
        font-weight: $fRegular;
      }
      .data-price {
        border-left: 2px solid black;
        font-size: 1.2rem;

        padding-left: 12px;
      }

      .exp {
        transform: scale(1);
        label {
          @media only screen and (max-device-width: $mobileBreakpoint) {
            transform: scale(0.7);
          }
        }
        border-left: 2px solid black;
      }
    }

    .lisere {
      opacity: 0;
    }

    .drawer {
      border-left: 2px solid black;
      font-family: $fontApple;
    }

    ol li:first-child {
      @media only screen and (max-device-width: $mobileBreakpoint) {
        border: none;
      }
    }
  }

  .item-acquired {
    .item-data {
      .data .wrapper p {
        color: black;
        font-weight: $fBold;
      }
      .data-price,
      .data-price strong {
        font-weight: $fBold;
      }
    }
  }

  .total {
    margin: -2px;
    padding: 0;

    :nth-child(4) {
      font-family: $fontHandWritten;
      font-size: 1.2rem;
      padding-left: 12px;
    }
    div {
      border-left: 2px solid black;
    }
    .total-label .total-owned {
      background-color: transparent;
      font-weight: 900;
    }
  }

  .btn-sort {
    background: none;
    label {
      border-radius: 0;
      border: 2px solid black;
      background-color: white;
      color: black;

      &:hover {
        transition: ease.3s;
        background-color: black;
        color: white;
      }
    }
    :checked + label {
      background-color: black;
      color: white;

      &:hover {
        transition: ease.3s;
        background-color: rgb(70, 70, 70);
        border-color: rgb(70, 70, 70);
      }
    }
  }

  .btn-clear,
  .btn-reset {
    background: none;
    border: none;
    label {
      &:hover {
        transition: ease.3s;
        background-color: rgb(211, 69, 69);
        border-color: rgb(211, 69, 69);
        color: white;
      }
    }
  }

  .buttons button:first-child {
    border-radius: 0;
    background-color: #f8e29b;
    color: black;

    border: 2px solid black;
    &:hover {
      background-color: #eec230;
      border-color: #eec230;
      color: white;
    }
  }
}

.App-nostalgic .item .item-data .data-price strong {
  padding-left: 0px;
}
