.body {
  overflow-x: hidden;
}
.App-nostalgic {
  background-color: rgb(235, 230, 225);
  background-image: url(https://clecardona.com/summer_camp/eika/paper.jpeg);
  background-blend-mode: hard-light;

  #title {
    font-family: "Indie Flower", cursive;
    display: flex;
    flex-direction: column;
    
  
    &:before {
      z-index: 1000;
      content: url(https://clecardona.com/summer_camp/eika/eika_lama.png);
      transform: rotate(-5deg);
      width: 50%;
      
      
    }
  }

  .img-main {
   display: none;
  } 
  .filter-sort {
    border: 2px solid black;
  }
  .btn-oval {
    border-radius: 0px;
  }
  .btn-submit {
    background: rgb(0, 0, 0);
  }
  .btn-clear {
    --color: grey;
    color: var(--color);
    border-color: var(--color);
  }

  .shopping_list {
    .filter-sort {
      background: white;
    }

    .slider {
      input {
        background-color: rgb(255, 255, 255);
      }
      input:before {
        background-color: rgb(0, 0, 0);
      }
      input:checked {
        background: rgb(2, 2, 2);
      }
      input:checked:before {
        background-color: #d1d1d1;
      }
    }

    .legend {
      margin: 0px;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      p {
        height: 100%;
        width: 100%;
        border-left: 2px solid black;
      }
      p:nth-child(2) {
        border-left: none;
      }
    }

    .legend-middle {
      width: 90vw;

      display: flex;
      justify-content: center;

      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    .hr {
      display: none;
    }
  }

  .item {
    background: none;
    box-shadow: none;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 0px;
    font-family: "Indie Flower", cursive;
    margin: -2px;
    border-left: none;
    border-right: none;

    .item-data {
      color: rgb(85, 85, 85);
      background: none;
      .img-product {
        border: 2px solid rgb(233, 233, 233);
      }
      .data {
        //background-color: red;
        display: grid;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%;
        border-left: 2px solid black;
        strong {
          font-size: 20px;
          font-weight: 300;
        }
      }

      .exp {
        --color: #000000;
        border-left: 2px solid black;
      }
      .img-overlay {
        background: black;
      }
    }

    .item-data-acquired {
      transition: ease 0.3s;
      .data {
        color: black;
        font-weight: 900;
        strong {
          font-weight: 900;
        }
      }
    }

    .lisere {
      opacity: 0;
    }

    .drawer {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 2px solid black;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

      .btn {
        color: black;
      }
      .btn-submit {
        color: white;
      }
    }
  }

  .item:hover {
    background: rgb(255, 245, 219);
  }

  .btn-sort {
    label {
      border-radius: 0px;
    }

    :checked + label {
      background-color: #000000;
      color: white;
    }
  }
  .btn-sort:hover label {
    color: white;
    background-color: #eec230;
  }
}
