.overlay {
  form {
    display: grid;
    grid-template-columns: 300px 100px 100px;
    grid-gap: 5px;

    input[type="text"] {
      background: rgb(224, 223, 223);
      border: 1px solid rgb(197, 197, 197);
      border-radius: 20px;
      padding-left: 15px;
    }
  }

}

.overlay-dropzone{

  form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .dropzone {
    margin: 20px;
    background: rgb(251, 251, 251);
  
    border-radius: 15px;
    border-style: inset;
    border: 2px rgb(187, 187, 187) dashed;
    height: 20vh;
    width: 50vw;
  
    color: rgb(187, 187, 187);
  
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .dropzone:hover {
    //border-style: inset;
    background: white;
  }
  
  
}

