.bloc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .img-main {
    height: 150px;
    width: auto;
  }
  h1 {
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 10px;
  }
}

.shopping_list {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 30px;
  .list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 100%;
    min-height: 300px;
    @media only screen 
    and (max-device-width: 414px){
      justify-content: flex-start;
      min-height: 320px;
    }
    //background: red;
  }

  ol {
    
    list-style: none;
    margin: 0;
    padding: 0;
    @media only screen 
    and (max-device-width: 414px){
      //background: turquoise;
      //margin-top: 0px;
    }
  }

  .legend-middle{
    //background: red;
    width: 100%;
    height:120px;
    display: grid;
    align-content: center;
    justify-content: center;
  }
  

  .buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: var(--fLaptop);
    @media only screen and (max-device-width: 414px) {
      font-size: var(--fMobile);
     
    }

    button {
      margin: 0 6px;
      opacity: 0.2;
      &:first-child {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }

  .hr {
    background: #ecebeb;
    width: 90vw;
    height: 1px;
    margin: 5px 0 15px 0;
  }
}
