.shopping_list {
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-items: center;
    
h1{
  font-weight: 900;
}

ol{
list-style: none;
margin: 0;
padding: 0;
}

  .legend {
    
    margin-top: 50px;
    height: fit-content;
    width: 90vw;
    display: grid;
    grid-template-columns: 60px  1fr 1fr 60px 60px;
    align-items: center;
    justify-items: center;
    font-weight: 700;   
  }



  .item {
    width: 90vw;

    height: 75px;
    background: rgb(219, 229, 250);
    display: grid;
    grid-template-columns: 60px  1fr 1fr 60px 60px;
    align-items: center;
    justify-items: center;
    
    margin: 5px;
    padding: 0px 0px;
    border-radius: 8px;

    
    img {
      height: 40px;
      width:40px;
      object-fit: cover;
      border-radius: 20px;
    }

    .modifiers{
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
    }
   

   
  }


  .hr{
    background: rgb(204, 204, 204);
    width: 90vw;
    height: 1px;
    margin-bottom: 20px;
  }
}
