.filter-sort {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  width: 100vw;
  max-width: 600px;
  display: flex;
  align-items: center;
  align-content: center;

  //border: 1px solid #ecebeb;
  padding: 15px 20px;

  margin-bottom: 20px;
  font-size: 12px;

  overflow:scroll;

  border-bottom: 1px solid #DFDFDF;

  .sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .sort-label {
      display: none;
    }

    .box-sort:before {
      content: url("https://clecardona.com/summer_camp/eika/icon/sort-up.svg");
      position: relative;
      top: 2px;
      left: 0;
      margin: 0 5px;
    }

    .box-sort:after {
      margin: 0 7px;
      content: "|";
      color: #ecebeb;
    }

    .box-sort {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 0 2px;

      p {
        text-align: center;
        margin-left: 15px;
        font-size: 12px;
      }
    }
  }
}
.filter-sort::-webkit-scrollbar {
  display: none;
}
.filter:before {
  content: url("https://clecardona.com/summer_camp/eika/icon/funnel.svg");
  position: relative;
  top: 2px;
  left: 0;
  margin: 0 5px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  p {
    font-size: 12px;
  }

  .slider {
    transform: scale(0.7);
    margin-top: 3px;
  }
}
