.filter-sort {
  padding: 0 $padding;

  @media only screen and (max-device-width: $tabletBreakpoint) {
    border-bottom: 1px solid #dfdfdf;
   }
   
  .wrapper-sort{
    -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  //background: red;
  display: flex;
  align-items: center;
  align-content: center;

  padding: 1.5rem 0;
 
  margin-bottom: -1px;
  font-size: 12px;

  overflow: scroll;

  border-bottom: 1px solid #dfdfdf;
  @media only screen and (max-device-width: $tabletBreakpoint) {
    border-color:transparent;
   }
 

    .sort {

    .sort-label {
      display: none;
    }
    div{
      margin: 0 .3em;
    }

    .box-sort:before {
      content: url("https://clecardona.com/summer_camp/eika/icon/sort-up.svg");
      position: relative;
      top: 2px;
      left: 0;
      margin-left: 24px;
      @media only screen and (max-device-width: $mobileBreakpoint) {
        transform: scale(1.5);
      }
    }

    .box-sort {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 0;

      p {
        text-align: center;
        margin-left: 9px;
      }
    }
  }
  }

  
}
.wrapper-sort::-webkit-scrollbar {
  display: none;
}
/* .filter:before {
  content: url("https://clecardona.com/summer_camp/eika/icon/funnel.svg");
  position: relative;
  top: 2px;
  left: 0;
  margin-left: 0px;
  @media only screen and (max-device-width: $mobileBreakpoint) {
    transform: scale(1.5);
  }
} */

.filter {

  .btn-sort{
    margin-left: 0;
  }
  p {
    font-size: 12px;
  }
}
