.body{
    background: blue;
    overflow-x: hidden;
}
.App{
    font-family: 'Noto Sans', sans-serif;
    display: grid;
    grid-template-rows: 50px 1fr 50px;  
    
}

header, footer{
    
    height:50px;
}

main{
   
    min-height: calc(100vh - 100px);
}

#title{
    text-align: center;
    font-size: 30px;
}

 a{
    text-decoration: inherit;
     font-weight: bolder;
     color: inherit;
    a:active, a:visited{
          
    }

 }
