.App{
    font-family: 'Noto Sans', sans-serif;
}

header, footer{
    background: rgb(196, 196, 196);
}

h1{
    text-align: center;
}

.btn{
    transform: scale(0.9) ;
    background: none;
    border: none;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1) rotate(-180deg);
    transition: ease .3s;
}

.btn-delete{
    color: rgb(221, 133, 133);
}
.btn-delete:hover{
    color: rgb(236, 62, 62);
    
}

.btn-edit{
    color: rgb(173, 173, 173);
}
.btn-edit:hover{
    color: rgb(121, 120, 120);
    
}

.checkbox{
    transform: scale(1.7);
}
