.bloc {
 
  padding: 0 $padding;
  width: 100%;
  max-width: 400px;
  max-height: 210px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  overflow: hidden;

  img{
  
    object-fit: cover ;
   object-position:bottom ;
  }
  
}

.emptylist {

  padding: 0 $padding;
 
  width: 100%;
  max-width: 400px;
  margin: 0;
  display: flex;
  flex-direction: column;

  font-size: var(--fs);

  align-items: center;
  
  strong {
    font-weight: $fBold;
  }
  .description {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    text-align: justify;
    margin: 0;
    padding: 22px;
    font-size: 12px;
    background: #F5F5F5;
    

    .hej {
      font-size: 25px;
      font-weight: $fBold;
      margin: 0;
    }
  }

  .arrowdown {
    margin-top: 9px;
    border-color: transparent;
    border-style: solid;
    border-width: 0 12px;

    opacity: 0.4;

    transform-origin: 50% 50%;

    animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top: 15px solid $ikeaBlue;
  }
  p {
    margin-left: 12px;
    padding-top: 5px;
  }
}
